@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Sections
@using X39.Software.ExamMaker.Shared
@using X39.Software.ExamMaker.WebApp.Services
@using X39.Software.ExamMaker.WebApp.Services.UserRepository
@inherits LayoutComponentBase
@inject IUserRepository UserRepository
@inject NavigationManager NavigationManager
@inject BaseUrl BaseUrl

<PageTitle>@Localizer[nameof(Language.Layout_MainLayout_PageTitle)]</PageTitle>

<FluentLayout Class="main-layout-container">
    <FluentHeader>
        <SectionOutlet SectionName="@HeaderStartSectionOutlet"/>
        <FluentSpacer/>
        <SectionOutlet SectionName="@HeaderEndSectionOutlet"/>
        <AuthorizeView>
            <Authorized>
                <FluentProfileMenu
                    Initials="@(context.User
                                  .ResolveName()
                                  .GetInitials())"
                    FullName="@context.User.ResolveName()"
                    EMail="@context.User.ResolveEMail()"
                    HeaderLabel="@context.User.ResolveOrganizationName()"
                    HeaderButton="@Localizer[nameof(Language.Layout_MainLayout_Header_Profile_Logout)]"
                    OnHeaderButtonClick="LogoutAsync"
                    FooterLabel="@Localizer[nameof(Language.Layout_MainLayout_Header_Profile_ViewAccountConfiguration)]"
                    FooterLink="@BaseUrl.ResolveSelfUrl("/me")"
                />
            </Authorized>
            <NotAuthorized>
                <FluentButton IconStart="@(new Icons.Regular.Size24.DoorArrowLeft())"
                              OnClick="@(() => NavigationManager.NavigateTo(BaseUrl.ResolveSelfUrl("/authentication/login")))">
                    @Localizer[nameof(Language.Layout_MainLayout_Header_Login)]
                </FluentButton>
            </NotAuthorized>
        </AuthorizeView>
    </FluentHeader>

    <FluentStack Orientation="Orientation.Horizontal" Width="100%" Class="main-layout-body-container">
        <AuthorizeView>
            <FluentAppBar>
                <FluentAppBarItem Href="/dashboard"
                                  Match="NavLinkMatch.All"
                                  IconRest="@(new Icons.Regular.Size24.Board())"
                                  IconActive="@(new Icons.Filled.Size24.Board())"
                                  Text="@Localizer[nameof(Language.Layout_MainLayout_AppBar_Dashboard)]"/>
                <FluentAppBarItem Href="/management/exams"
                                  Match="NavLinkMatch.Prefix"
                                  IconRest="@(new Icons.Regular.Size24.DocumentFolder())"
                                  IconActive="@(new Icons.Filled.Size24.DocumentFolder())"
                                  Text="@Localizer[nameof(Language.Layout_MainLayout_AppBar_Exams)]"/>
            </FluentAppBar>
        </AuthorizeView>
        <FluentBodyContent Class="main-layout-body-content">
            @Body
        </FluentBodyContent>
    </FluentStack>

    <FluentFooter Class="main-layout-footer">
        <SectionOutlet SectionName="@FooterStartSectionOutlet"/>
        <FluentSpacer/>
        <SectionOutlet SectionName="@FooterEndSectionOutlet"/>
        <a href="@BaseUrl.ResolveSelfUrl("imprint")">
            <FluentLabel Style="color: white;">@Localizer[nameof(Language.Layout_MainLayout_Footer_Imprint)]</FluentLabel>
        </a>
        <FluentLabel Style="color: white;">@Version</FluentLabel>
    </FluentFooter>
</FluentLayout>

<FluentToastProvider/>
<FluentDialogProvider/>
<FluentTooltipProvider/>
<FluentMessageBarProvider/>
<FluentMenuProvider/>

@code {

    public const string HeaderEndSectionOutlet   = nameof(MainLayout) + ":" + "HeaderEnd";
    public const string HeaderStartSectionOutlet = nameof(MainLayout) + ":" + "HeaderStart";
    public const string FooterEndSectionOutlet   = nameof(MainLayout) + ":" + "FooterEnd";
    public const string FooterStartSectionOutlet = nameof(MainLayout) + ":" + "FooterStart";

    private string Version
        => typeof(Program).Assembly
               .GetName()
               .Version
               ?.ToString()
           ?? string.Empty;

    private async Task LogoutAsync()
    {
        await UserRepository.LogoutAsync();
        NavigationManager.Refresh(true);
    }

}
